@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

div,
p,
span,
ol,
ul,
li,
button,
img,
a {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

button {
  background-color: inherit;
  cursor: pointer;
}
img {
  background-color: transparent;
}

body {
  background: #191919;
  box-sizing: border-box;
  color: white;
  font-family: "Pretendard-Regular";
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #464646;
  padding: 12px 20px;
}

header .logo {
  width: 200px;
  background-image: url(/public/image/logo_type_governance.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.logo img {
  padding-right: 170px;
}

.menu-container button {
  width: 30px;
  height: 30px;
  background-image: url(/public/image/gnb_right_menu.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

main {
  height: 970px;
  display: flex;
  flex-direction: row;
}

.main-title {
  position: relative;
  box-sizing: border-box;
  flex: 1;
  padding: 60px 40px;
  border-right: 1px solid #464646;
}

.main-title h1 {
  margin: 0 auto;
  font-weight: 500;
  font-size: 4vw;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
}

.main-title p {
  width: 50%;
  padding: 10px 0;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.scroll {
  padding: 10px 20px;
  position: absolute;
  bottom: 53px;
  background-image: url(/public/image/ic_arrow.png);
  background-repeat: no-repeat;
  background-position: 0 45%;
  color: #ffffff;
}

.lottie-motion {
  flex: 1;
  background-image: url(/public/image/lottie_motion.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.ncp {
  background-color: #a484ff;
  color: #1a1a1a;
}

.wonders {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 200px;
}

.wonders strong {
  margin: 30px 0;
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
}

.wonders span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.users {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #464646;
}

.user-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  padding: 32px 40px;
  border-right: 1px solid #464646;
}

.users li:last-child {
  border-right: none;
}

.user-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.user-list strong {
  font-weight: 600;
  font-size: 4vw;
  line-height: 105px;
}

.staking-user {
  padding-left: 70px;
  background-image: url(/public/image/bl.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.rewards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.rewards-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin-bottom: 30px;
}

.rewards-item span {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.rewards-item strong {
  font-weight: 600;
  font-size: 3vw;
  line-height: 67px;
}

.roles > strong {
  padding: 53px 0;
  display: block;
  font-weight: 600;
  font-size: 72px;
  line-height: 86px;
  text-align: center;
}

.role-info {
  display: flex;
  flex-direction: column;
}

.role-info > strong {
  padding: 10px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.roles ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.role {
  width: 50%;
  display: flex;
  align-items: center;
  border: 1px solid #464646;
}

.role-zone {
  border-right: 1px solid #464646;
}

.role-img {
  width: 200px;
}

.role-info {
  padding: 0 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #d1d1d1;
}

.role-option {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #a7a7a7;
}

.become {
  background: #8db1e8;
  padding: 94px 0;
  text-align: center;
}

.become strong {
  font-weight: 600;
  font-size: 56px;
  line-height: 67px;
  color: #1a1a1a;
}

.become p {
  padding: 0 0 32px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #1a1a1a;
}

.become a {
  display: block;
  width: 250px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 76px 12px 16px;
  background-color: #1a1a1a;
  background-image: url(/public/image/ic_arrow_right.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 90% 50%;
}

.partners-zone {
  display: flex;
  justify-content: center;
}

.partners ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.our-partners {
  position: relative;
  flex: 1;
  padding: 40px;
}

.our-partners strong {
  font-weight: 500;
  font-size: 72px;
  line-height: 86px;
}

.our-partners p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.partners {
  flex: 1;
}

.partner {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #464646;
}

.partner-info {
  padding: 80px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #d1d1d1;
  border-left: 1px solid #464646;
}

.partner-info span {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.partner-img-zone {
  width: 263px;
}

.partner-img {
  margin: 0 65px;
  width: 132px;
}

.roadmap {
  background-color: #a484ff;
  color: #1a1a1a;
}

.roadmap-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 100px;
  border-bottom: 1px solid #464646;
}

.roadmap-title span {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.roadmap-title strong {
  font-weight: 600;
  font-size: 56px;
  line-height: 67px;
}

.roadmap-title p {
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.roadmap-info ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.roadmap-info li {
  width: 100%;
  border-right: 1px solid #464646;
}

.accordion-zone-mobile {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.phase-zone {
  padding: 40px;
}

.phase-title {
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
}

.accordion-zone-mobile span {
  padding: 3px 9px;
  background-color: black;
  color: white;
}

.accordion-zone-mobile button {
  display: none;
}

.phase-title-mobile {
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
}

.phase-list-mobile {
  position: relative;
  width: 100%;
}

.phase-content p {
  padding: 10px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.accordion-content-mobile {
  padding: 20px;
}

.accordion-content-mobile p {
  padding: 10px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.more-title {
  padding: 40px;
}

.more-title strong {
  font-weight: 500;
  font-size: 3vw;
  line-height: 86px;
}

.more-sns-zone {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #464646;
}

.more-sns-title {
  flex: 1;
}

.more-sns-list {
  flex: 1;
  width: 100%;
}

.more-sns-title strong {
  padding: 40px;
  font-weight: 600;
  font-size: 3vw;
  line-height: 67px;
}

.more-sns-list ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.more-sns {
  width: 20%;
  padding: 3%;
  border-left: 1px solid #464646;
}

.more-sns a {
  display: block;
}

.sns-img {
  width: 100%;
}

.wemix-link-zone {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #464646;
}

.wemix-link-title {
  position: relative;
  flex: 1;
  border-top: 1px solid #464646;
}

.wemix-link-title strong {
  padding-left: 40px;
  font-weight: 600;
  font-size: 3vw;
}

.wemix-link {
  flex: 1;
}

.wemix-link-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.wemix-link-list:last-child .list.title {
  justify-content: flex-start;
}

.wemix-link-list p {
  font-size: 500;
  font-size: 16px;
  line-height: 24px;
}

.wemix-list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  border: 1px solid #464646;
  padding: 40px;
}

.wemix-list p {
  order: 2;
  padding: 20px 0;
}

.wemix-list img {
  width: 44px;
}

.open {
  order: 3;
  text-align: center;
  width: 120px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #fa5454;
  padding: 4px 8px;
  border: 1px solid #fa5454;
  border-radius: 100px;
}

.list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 1;
}

.list-title span > img {
  width: auto;
  height: 25px;
}

.list-title span > a {
  display: block;
}

.footer-family {
  padding: 48px 40px;
}

.family-Sites {
  display: block;
  padding: 10px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #464646;
}

.family-list a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.family-list-zone {
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #464646;
}

.footer-content-list a {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #464646;
}

.footer-content-list img {
  width: 16px;
}

.footer-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.footer-sns ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-select select {
  display: none;
  background-color: #191919;
  color: #a7a7a7;
  width: 140px;
  height: 37px;
  border: 1px solid #404040;
}

.footer-select option {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.wemix-pte {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #464646;
}

.comming-soon {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.comming-soon::after {
  content: "COMMING SOON";
  position: absolute;
  left: 120%;
  width: 82px;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #fa5454;
  padding: 4px 8px;
  border: 1px solid #fa5454;
  border-radius: 100px;
}

.footer-sns-list a {
  display: block;
}

@media screen and (orientation) {
  .our-partners strong::after {
    content: "Our Partners";
  }
}

@media screen and (max-width: 1024px) {
  @media screen and (orientation) {
    .our-partners strong::after {
      content: "Meet the WONDERS";
      font-weight: 600;
      padding: 10px 0;
    }
  }
  main {
    height: 512px;
  }

  .lottie-motion {
    background-size: 460px;
  }

  .main-title {
    padding: 20px;
  }

  .main-title h1 {
    font-size: 48px;
    line-height: 58px;
  }

  .main-title p {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .wonders {
    padding: 70px 50px;
  }

  .wonders strong {
    font-size: 24px;
    line-height: 34px;
  }

  .wonders span {
    font-size: 14px;
    line-height: 21px;
  }

  .user-title {
    font-size: 18px;
    line-height: 22px;
  }

  .user-list strong {
    font-size: 48px;
    line-height: 58px;
  }

  .staking-user {
    padding-left: 40px;
    background-size: 40px;
  }

  .rewards-item p {
    font-size: 12px;
    line-height: 4 / px;
  }

  .rewards-item strong {
    font-size: 32px;
    line-height: 38px;
  }

  .role {
    width: 100%;
  }

  .roles > strong {
    padding: 45px 0;
    font-size: 40px;
    line-height: 48px;
  }

  .become {
    padding: 50px;
  }

  .become strong {
    font-size: 32px;
    line-height: 38px;
  }

  .our-partners strong {
    font-size: 40px;
    line-height: 48px;
  }

  .our-partners p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  .partner-info {
    border: 0;
    padding: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  .partner-info span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  .partner-img {
    width: 100px;
    margin: 0 55px;
  }

  .roadmap-title {
    text-align: start;
    padding: 40px;
  }

  .roadmap-title p:first-child {
    font-size: 20px;
    line-height: 24px;
  }

  .roadmap-title strong {
    font-size: 32px;
    line-height: 38px;
  }

  .roadmap-title p:last-child {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
  }

  .phase-title {
    font-size: 24px;
    line-height: 34px;
  }

  .phase-title-mobile {
    font-size: 24px;
    line-height: 34px;
  }

  .roadmap-info p {
    font-size: 16px;
    line-height: 24px;
  }

  .more-title strong {
    font-size: 40px;
    line-height: 48px;
  }

  .more-sns-title strong {
    font-size: 32px;
    line-height: 38px;
  }

  .wemix-link-title strong {
    font-size: 32px;
    line-height: 38px;
  }

  .wemix-list img {
    width: 18px;
  }

  .open {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 5px 16px;
  }
  header .logo {
    width: 0;
    background-image: none;
  }

  .logo img {
    padding: 5px;
  }

  main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .lottie-motion {
    border-bottom: 1px solid #464646;
  }

  .main-title {
    padding: 20px;
    border-right: none;
  }

  .main-title h1 {
    font-size: 32px;
    line-height: 38px;
  }

  .main-title p {
    font-size: 14px;
    line-height: 21px;
  }

  .scroll {
    display: none;
  }

  .wonders {
    text-align: start;
    padding: 20px;
  }

  .user-title {
    font-size: 16px;
    line-height: 19px;
  }

  .user-list strong {
    font-size: 32px;
    line-height: 38px;
  }

  .users {
    display: flex;
    flex-direction: column;
    border-top: none;
  }

  .user-list {
    padding: 20px;
    border-right: none;
    border-top: 1px solid #464646;
  }

  .staking-user {
    padding-left: 30px;
    background-position: 0 55%;
    background-size: 30px;
  }

  .rewards {
    flex-wrap: nowrap;
  }

  .rewards-item {
    width: 100%;
    padding: 5% 0;
    margin: 0;
  }

  .rewards-item p {
    font-size: 12px;
    line-height: 18px;
  }

  .rewards-item strong {
    font-size: 24px;
    line-height: 34px;
  }

  .role-zone {
    border: 0;
  }

  .role-info {
    font-size: 14px;
    line-height: 21px;
    border-left: 1px solid #464646;
  }

  .become {
    padding: 30px;
  }

  .become strong {
    font-size: 24px;
    line-height: 34px;
  }

  .become p {
    font-size: 14px;
    line-height: 21px;
  }

  .partners-zone {
    flex-direction: column;
  }

  .our-partners {
    padding: 25px 20px;
  }

  .our-partners strong::after {
    font-size: 24px;
    height: 34px;
  }

  .our-partners p {
    font-size: 14px;
  }

  .partner {
    flex-direction: column;
    align-items: flex-start;
  }

  .partner-img {
    margin: 32px 20px;
  }

  .partner-info span {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  .roadmap-title {
    padding: 20px;
    border: 0;
  }

  .roadmap-title span {
    padding: 20px 0;
    font-size: 16px;
    line-height: 19px;
  }

  .roadmap-title p:first-child {
    font-size: 16px;
    line-height: 19px;
  }

  .roadmap-title p:last-child {
    font-size: 14px;
    line-height: 21px;
  }

  .roadmap-info p {
    font-size: 14px;
    line-height: 21px;
  }

  .roadmap-info li {
    border: 0;
  }

  .roadmap-info ul {
    flex-direction: column;
  }

  .phase-li {
    display: none;
  }

  .accordion-zone-mobile {
    border-top: 1px solid #191919;
  }

  .accordion-zone-mobile button {
    display: block;
  }

  .more-title {
    padding: 20px;
    font-size: 32px;
    line-height: 38px;
  }

  .more-title strong {
    font-size: 32px;
    line-height: 38px;
  }

  .more-sns-title {
    padding: 20px;
  }

  .more-sns-zone {
    flex-direction: column;
    align-items: flex-start;
  }

  .more-sns-title strong {
    padding: 0;
    font-size: 24px;
    line-height: 34px;
  }

  .more-sns-list {
    border: 1px solid #464646;
  }

  .more-sns {
    padding: 3%;
  }

  .wemix-link-title strong {
    padding: 0;
    font-size: 24px;
    line-height: 34px;
  }

  .wemix-list {
    padding: 20px;
    width: 100%;
  }

  .wemix-list:last-child {
    display: block;
  }

  .wemix-list:last-child .list-title {
    display: inline;
  }

  .wemix-link-title {
    padding: 20px;
  }

  .wemix-link-list {
    flex-direction: column;
  }

  .wemix-link-list strong {
    font-size: 24px;
    line-height: 34px;
  }

  .wemix-link-list p {
    font-size: 14px;
    line-height: 21px;
  }

  .list-title span > img {
    position: relative;
    height: 16px;
  }

  .wemix-list img {
    width: 16px;
  }

  .open {
    margin-left: 10px;
    vertical-align: middle;
    width: 105px;
    font-size: 12px;
    line-height: 15px;
  }

  .wemix-link-zone {
    flex-direction: column;
  }

  .footer-family {
    padding: 20px;
  }

  .footer-info {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-select select {
    display: block;
  }

  .family-Sites {
    display: none;
  }

  .family-list-zone {
    display: none;
  }

  .footer-select img {
    width: 157px;
  }
}
